[Desktop Entry]
Name=TecnoRemote
GenericName=Remote Desktop
Comment=Soporte Remoto TECNOCOM
Exec=tecnoremote %u
Icon=tecnoremote
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;remote-control;remote-desktop;
Actions=new-window;
StartupWMClass=tecnoremote

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=tecnoremote %u
